body{
  padding: 0;
  margin: 0;
}

.nav-side-menu{
background-color: #fff;
position: fixed;
top:0;
left:0;
height: 100vh;
width: 50vw;
font-family: 'Montserrat', sans-serif !important;
transition: 1s ease-in-out;
transform: translateX(-100%);
}

.open{
transform: translateX(0%);

}
.nav-side-menu ul{

margin-top: 80px;
}
.nav-side-menu ul li{
font-family: 'Montserrat', sans-serif !important;
list-style-type: none;
margin: 10px 0;
}
.nav-side-menu .close-btn{

display: inline-block;
position: absolute;
top: 15px;
right: 5px;
}
.nav-side-menu .close-line{

background-color: black;
height: 2px;
width: 30px;
margin: 4px;
transform: rotate(40deg);
}

.nav-side-menu .close-line2{

background-color: black;
height: 2px;
width: 30px;
margin: 4px;
transform: rotate(-40deg);

}

.nav-side-menu .nav-btn-cont{

display: inline-block;
margin: 0 auto;

}
.nav-side-menu .nav-btn-cont{
background-color: rgb(235, 188, 35);
transform: translateX(40%);
border-radius: 5%;
padding:8px 5px;
}

.nav-side-menu .nav-btn-cont a{
text-decoration: none;
}



.main-cont{
  font-family: 'Montserrat', sans-serif !important;
}

.main-cont .nav{
  display: flex;
  justify-content: space-between;
 
  align-items: center;
  height: 12vh;
  border-bottom:1px solid #c9cccf;
}

.main-cont .nav .burger{
  margin-left: 5px;
  cursor: pointer;
  
  transition: 0.8s all ease-in-out;
  transition-delay: 0.2s
}

.main-cont .nav .close-btn{
z-index: 9;
transform: translateX(130px);
}

.main-cont .nav .burger .burger-line{

  background-color: black;
  height: 2px;
  width: 30px;
  margin: 4px;
  transition: 1s transform ease-in-out;
}

.main-cont .nav .burger .bg-line{
/* transform: translateY(-0.32rem) rotate(45deg); */
visibility: hidden;
}

.main-cont .nav .burger .burger-line1{

background-color: black;
height: 2px;
width: 30px;
margin: 4px;
transform: rotate(45deg);

}
.main-cont .nav .burger .burger-line3{

background-color: black;
height: 2.4px;
width: 30px;
margin: 4px;
transform: translateY(-0.72rem) rotate(135deg);

}


.main-cont .nav-circle{
  
  padding: 7px;

  cursor: pointer;
 
  margin-right: 5px !important;
  border-radius: 50%;
  border:1px solid grey !important;

   
}



.main-cont .nav-circle img{


  vertical-align: middle;
  margin: auto;

}

.main-cont .list{

  visibility: hidden;

}

.main-cont .hero{

  font-size: 4.5rem;
  text-align: center;
}


.hero .typewriter{
 
   display: inline-block;
   height: fit-content !important;
}

#idea{
  color: lightcoral;
}

.hero .typewriter h1 {
  font-size: 1rem;
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .1em; 
  
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}



@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


#downArrow{
    cursor: pointer;
}

.ball {

  margin:20rem auto 0 auto;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}